section.logement {
    margin: 50px 100px;
}

.logement-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.logement-details h2 {
    color: var(--primary-color)
}

.logement-tags {
    display: flex;
    gap: 15px;
    text-align: center;
}

.host-details {
    color: var(--primary-color);
    display: flex;
    gap: 20px;
    align-items: center;
}

.host-details img {
    border-radius: 100px;
}

.host-and-rating {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

.star-active {
    color: var(--primary-color)
}

.star-inactive {
    color: #E3E3E3;
}

.logement-tags span {
    color: var(--white);
    background-color: var(--primary-color);
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    min-width: 115px;
    flex: 1;
}

.logement-collapse {
    display: flex;
    padding: 30px 0;
    gap: 80px;
}

.logement-column {
    flex: 1;
}


@media (max-width: 768px) {
    section.logement {
        margin: 20px;
    }

    .logement-main {
        display: block;
    }

    .logement-details h2 {
        font-size: 18px;
    }

    .logement-details p {
        font-size: 14px;
    }

    .logement-tags {
        gap: 5px;
    }

    .logement-tags span {
        font-size: 12px;
        min-width: 60px;
        height: 18px;
        flex: 1;
    }

    .host-and-rating {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .host-and-rating p {
        font-size: 12px;
    }

    .host-and-rating img {
        height: 32px;
        width: 32px;
    }

    .fa-2xl {
        font-size: 1em;
    }

    .logement-collapse {
        display: block;
    }

    .collapse-header {
        margin-bottom: 20px;
    }

}