section.logement {
    margin: 50px 100px;
}

.logement-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logement-details h2 {
    color: var(--primary-color)
}

.logement-tags {
    display: flex;
    gap: 15px;
}

.host-details {
    color: var(--primary-color);
}

.host-details img {
    border-radius: 100px;
}

.star-active {
    color: var(--primary-color)
}

.star-inactive {
    color: #E3E3E3;
}

.logement-tags span {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    width: 115px;
    align-items: center;
}