section.logement {
    margin: 50px 100px;
}

.logement-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.logement-details h2 {
    color: var(--primary-color)
}

.logement-tags {
    display: flex;
    gap: 15px;
    text-align: center;
}

.host-details {
    color: var(--primary-color);
    display: flex;
    gap: 20px;
    align-items: center;
}

.host-details img {
    border-radius: 100px;
}

.host-and-rating {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

.star-active {
    color: var(--primary-color)
}

.star-inactive {
    color: #E3E3E3;
}

.logement-tags span {
    color: var(--white);
    background-color: var(--primary-color);
    align-content: center;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    min-width: 115px;
}