.properties-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
}

.properties-div {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}


@media (max-width: 768px) {

    .properties-section {
        padding: 15px 5px;
        margin: 10px;
    }
}