.properties {
    height: 340px;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.properties img {
    height: 340px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%,
            rgba(0, 0, 0, 0.5) 100%);
}

.card-title {
    background-color: var(--primary-color);
    color: var(--white);
    position: absolute;
    box-sizing: border-box;
    height: 65px;
    width: 100%;
    bottom: 0;
    padding: 0 15px 0 15px;
    z-index: 2;
    display: flex;
    align-items: center;
}