.properties-section {
    background-color: #f6f6f6;
    display: grid;
    margin: 0 100px;
    grid-template-columns: repeat(3, minmax(340px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 60px;
}