.collapse {
    margin: 20px auto;
    max-width: 75%;
}

.collapse-header {
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapse-header i {
    color: var(--white);
}

.collapse-content {
    background-color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
}

.collapse-header i {
    transition: transform 0.6s ease;
}

.open {
    transform: rotate(180deg);
}