.carrousel {
    max-width: 1240px;
    width: 100%;
    height: 415px;
    display: flex;
    position: relative;
    margin: 20px 100px;
}

.carrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}