.carrousel {
    width: 100%;
    height: 415px;
    display: flex;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.carrousel-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.fleche-gauche,
.fleche-droite {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.fleche-gauche {
    left: 20px;
}

.fleche-droite {
    right: 20px;
}

h3 {
    color: var(--white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

@media (max-width: 768px) {

    .carrousel {
        height: 225px;
        width: 100%;
    }

    h3 {
        display: none;
    }

    .fleche-gauche img,
    .fleche-droite img {
        width: 20px;
    }
}