header {
    margin: 45px 100px 45px 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

nav div {
    display: flex;
    gap: 60px;
}

nav a {
    color: var(--black);
    font-size: 24px;
    text-decoration: none;
}

nav div .active {
    border-bottom: var(--black) 2px solid;
    padding-bottom: 1px;
}


@media (max-width: 1024px) {}

@media (max-width: 768px) {
    header {
        margin: 20px;
    }

    nav img {
        width: 145px;
    }

    nav div {
        gap: 20px;
    }

    nav a {
        font-size: 12px;
        text-transform: uppercase;
    }
}