.error-page {
    text-align: center;
}

.error-page h1 {
    font-size: 288px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
}

.error-page h2 {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 130px;
}

.error-page a {
    color: var(--black);
    display: inline-block;
    margin-bottom: 130px;

}

@media (max-width: 768px) {

    .error-page h1 {
        font-size: 96px;
    }

    .error-page h2 {
        font-size: 18px;
        white-space: normal;
    }

    .error-page a {
        font-size: 14px;
    }

}