 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;500;700;1,500&display=swap');

 :root {
   --primary-color: #FF6060;
   --white: #FFFFFF;
   --black: #000000;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 body {
   font-family: 'Montserrat', sans-serif;
 }

 h1 {
   font-size: 48px;
 }

 h2 {
   font-size: 36px;
 }

 h3 {
   font-size: 24px;
 }

 p {
   font-size: 18px;
 }