.banner {
    height: 280px;
    position: relative;
    box-shadow: 0px 10px 0px 0px #F6F6F6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 100px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    z-index: 0;
}

.banner-overlay {
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 25px;
    z-index: 1;
}

.banner-text {
    color: var(--white);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    margin: 0;
}

@media (max-width: 768px) {

    .banner {
        height: 140px;
        margin: 20px;
        border-radius: 15px;
    }

    .banner img,
    .banner-overlay {
        border-radius: 15px;

    }

    .banner-text {
        font-size: 24px;
        white-space: normal;
        width: 70%;
        text-align: left;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);

    }
}